.About {
	margin-top: 32px;
}

.About h3 {
	text-align: left;
}
.About .jumbotron{
	background-color: #e8e8e8;
	border-radius: 10px;
}

.About .display-4{
	font-size: 2.75rem;
}

.About img {
	width: 100%;
}

#one {
	font-family: 'Ballerine Script';
}

#two {
	font-family: 'Bluebell';
}
