#bgimage {
	width: 100%;
	background-color: black;
}

#bgimage .bgtext {
	color: white;
	position: absolute;
	text-align: left;
}

#contentContainer{
	margin-top: 25px;
	background-color: black;
}

#paypal{
	width: 100%;
}

.Home  h1{
	font-weight: 100;
}

.Home  h3{
	font-weight: 100;
}
