.Home {
	min-height: 90vh;
}

.Home .jumbotron{
	border-radius: 10px;
}

#bgimage {
	width: 100%;
	background-color: black;
}

#bgtext {
	color: white;
	position: absolute;
	text-align: left;
}

#bgtext h1{
	font-size: 3.25vw;
}
#bgtext h1::first-letter{
	font-size: 6.25vw;
}

#bgtext h3{
	font-size: 2.5vw;
}

#missionText{
	font-size: 1.25rem;
	margin-left: 10%;
	margin-right: 10%;
}

#contentContainer{
	margin-top: 25px;
	background-color: black;
}

#paypal{
	width: 100%;
}

.Home  h1{
	font-weight: 400;
}

.Home  h3{
	font-weight: 400;
}

@media (max-width: 575.98px) {
	#bgtext h1{
		font-size: 5.25vw;
		line-height: .75;
	}
	#bgtext h1::first-letter{
		font-size: 9.25vw;
	}
	#bgtext h3{
		font-size: 4.5vw;
		line-height: .75;
	}
}

@media (min-width: 1700px) {
	#bgtext h1{
		font-size: 2.25vw;
	}

	#bgtext h1::first-letter{
		font-size: 4.25vw;
	}

	#bgtext h3{
		font-size: 1.5vw;
	}
}
