.Home {
	background-color: black;
	min-height: 90vh;
}

.Home .jumbotron{
	border-radius: 10px;
}

#bgimage {
	width: 100%;
	background-color: black;
}

#bgtext {
	color: white;
	position: absolute;
	text-align: left;
}

#missionText{
	font-size: 1.25rem;
}

#contentContainer{
	margin-top: 25px;
	background-color: black;
}

#paypal{
	width: 100%;
}

.Home  h1{
	font-weight: 400;
}

.Home  h3{
	font-weight: 400;
}
