.Programs {
	margin-top: 32px;
	margin-bottom: 32px;
}

#pic1 {
	min-height: 60%;
	padding-left: 10%;
	padding-right: 10%;
}

#pic2 {
	min-height: 47%;
}

#pic3 {
	padding-left: 10%;
	padding-right: 10%;
	min-height: 55%;
}

.Programs .jumbotron{
	justify-content: center;
	text-align: center;
	background-color: #e8e8e8;
	border-radius: 10px;
}

@media (max-width: 575.98px) {
	.Programs .display-4{
		font-size: 7vw;
	}

	.Programs .display-3{
		font-size: 8vw;
	}
}

@media (min-width: 1200px) {
	#pic1 {
		min-height: 60%;
		max-height: 75%;
		padding-left: 0%;
		padding-right: 0%;
	}
	#pic2 {
		padding-top: 20%;
	}
	#pic3 {
		min-height: 55%;
		max-height: 75%;
		padding-left: 0%;
		padding-right: 0%;
	}
}
