.Programs {
	margin-top: 32px;
	margin-bottom: 32px;
}

#paypal {
	width: 50%;
}

.Programs .jumbotron{
	justify-content: center;
	text-align: center;
	background-color: #e8e8e8;
	border-radius: 10px;
}

@media (max-width: 575.98px) {
	.Programs .display-4{
		font-size: 7vw;
	}

	.Programs .display-3{
		font-size: 8vw;
	}
}
